@import "./global/variables.scss";

.Cell {
  display: block;
  width: 70px;
  height: 70px;
  border: 1px solid $white;
  border-radius: 10px;
  background-color: $white;
  cursor: pointer;
  transition: opacity 250ms;

  &Shine {
    animation: glowCell 500ms;
  }

  &Animate {
    animation: glowCellClick 350ms;
  }

  &:disabled {
    opacity: 0.4;
  }
}

@keyframes glowCell {
  0% {
    background-color: $white;
  }

  80% {
    background-color: $primary;
  }

  100% {
    background-color: $white;
  }
}

@keyframes glowCellClick {
  0% {
    background-color: $white;
  }

  80% {
    background-color: $secondary;
  }

  100% {
    background-color: $white;
  }
}
